#footer{
    width: 100%;
    height: 250px;
    border: 2px solid black;
    float: right;
}
#about{
    float: left;
    margin-top: 20px;
    margin-left: 800px;
}
#aboutright{
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    text-align: center;
}
#imgsocial{
    padding: 7px;
}